<div class="homepage-hero">
  <div class="row">
    <div class="hero__new-request">
      <div class="new-request__content">
        <%= render :partial => "new_request" %>
      </div>
    </div>
    <div>
      <h1 class="intro__browse">
        <span>
          Solicita información pública de forma fácil y segura a cualquier Municipalidad de Guatemala.
        </span>
      </h1>
    </div>
  </div>
</div>
