<% @title = "Making requests" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip" class="left_column_flip">
    <h1><%= site_name %></h1>
        <p>Este sitio web es desarrollado e impulsado por Alaveteli.</p>
        <p>Alaveteli es un software gratuito para realizar solicitudes de información pública. Puede traducirse fácilmente a cualquier idioma y personalizarse para variaciones de la ley de acceso a la información pública de tu país.</p>
        <p>Si deseas utilizar este software para tu propio país, escríbenos y podemos ayudarte.  </p>
  <div id="hash_link_padding"></div>
</div>