<% @title = _("About our API") %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1><%=@title %></h1>
    <p>Encuentra toda la información del API de Alavetelid (el Software que usamos en Publitopia) <a target="_blank" href="http://alaveteli.org/es/docs/developers/api/">aquí</a></p>
</div>