<% @title = _("Credits") %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip" class="left_column_flip">
<h1 id="credits"><%= @title %> </h1>
    <p>Publitopia fue dise침ada por <a href="http://www.guatecambia.org.gt">Guatecambia</a>, que utiliza el software de <a href="http://alaveteli.org/">Alaveteli</a>. Esta se bas칩 en la exitosa p치gina brit치nica de <a href="https://www.mysociety.org">MySociety</a>. </p>
</div>