<% @title = _("Unhappy about a Freedom of Information request?") %>


<% if @info_request %>
  <h1>Unhappy about the response you got
    to your request '<%=request_link(@info_request) %>'?
  </h1>
<% else %>
  <h1><%= _("Unhappy about the response you got?") %></h1>
<% end %>

<p>Si ...</p>

<ul>
  <li>No recibiste una respuesta dentro de los 10 días hábiles.</li>
  <li>No recibiste la información completa</li>
  <li>Tu solicitud fue rechaza, pero sin razón válida por la ley. </li>
</ul>

<p>Puedes ...</p>

<ol>
  <li id="internal_review">Solicitar un <strong><a href="http://inforuta.munisabiertas.org">Recurso de Revisión</a></strong></li>
  <li id="complaining">Si eso no ayuda, habla con la <a target="_blank" href="https://www.pdh.org.gt/secai.html">SECAI</a> de la PDH que son que son los encargados de proteger tu derecho a la información</li>
  <li id="other_means">O ingresar a <a href="http://inforuta.munisabiertas.org">Inforuta</a> para informarte del proceso, para ver si fue algo en tu solicitud</li>
</ol>
